# Build artifacts
*.o
*.a
minishell
minishell_bonus

# Test artifacts (temporary files created by tester)
minishell_tester/outfiles/
minishell_tester/mini_outfiles/
minishell_tester/bash_outfiles/
minishell_tester/loop.out

# Temp files
.DS_Store
*~
*.tmp
*.bak